/*ESTILOS */

/*pagina entera*/

#principal{
	width: 100%;
	height: 1000px;
	border: none;
	margin: auto;

}


/*Barra de inicio sesion etc*/

header{
	width: 100%;
	height: 90px;
	
	background: #E6E6E6;
	border-radius: 20px;
	margin-bottom: 20px;
}
.wrapper{
	width: 100%;
	
	margin: auto;
	overflow:hidden;
}
header .logo{
	color:white;
	font-size: 50px;
	/*line-height: 0px;*/
	float: left;
	margin-left: 10px;
	margin-top: -25px;
}
header nav{
	margin-left; 
	float:right;
	line-height: 100px;
	margin-right: 30px;
	}
header nav a{
	display: inline-block;
	color:#A4A4A4;
	text-decoration:none;
	padding: 10px 10px ;
	font-family: arial;
	font-size: 15px;
	line-height: normal;
	
	
}
header nav a:hover{
	background: orange;
	border-radius: 50px;
}

/*zona del logo central*/

.imagen{
	width: 100%;
	height: 150px;
	border: 1px solid #ccc;
	margin-top: -190px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;

}

/*zona del menu desplegable*/

.menu{
	margin-top: 25px;
	text-align: center;
}
.menu li{
	display: inline-block;
	list-style: none;
}
.menu a{
	padding: 20px;
	
	display: block;
	text-decoration: none;
	transition: 1s;
	font-weight: bold;
	font-size: 20px;
	font-family: arial;
	color: black;
}
.menu a:hover{
	color: pink;
}
.menu ul{
	position: absolute;
}
.menu ul li{
	display: block;
}
.Futsal ul{
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: 1s;
}
.Futsal:hover ul{
	opacity:1;
	max-height: 300px;
	background: white;
}
.fut ul{
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: 1s;
}
.fut:hover ul{
	opacity:1;
	max-height: 300px;
	background: white;
}
.arbitro ul{
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: 1s;
 }
 .arbitro:hover ul{
	opacity:1;
	max-height: 300px;
	background: white;
}
.mate ul{
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: 1s;
 }
 .mate:hover ul{
	opacity:1;
	max-height: 300px;
	background: white;
}

/*slider*/
#slider{
	margin-top: -35px;
	width: 800px;
	height: 450px;
	text-align: center;
	margin-left: 465px;
	overflow: hidden;
	margin: auto;
	
}

#slider ul{
	padding: 0;
	display: flex;
	animation: cambio 20s infinite;
	animation-direction:alternate;
	animation-timing-function: ease-out; 
	border-radius: 20px;
}
#slider li{
	list-style: none;
}
#slider img{
	/*width: 100%;*/
}
@keyframes cambio{
	0% { margin-left: 0; }
	20% { margin-left: 0; }

	25% { margin-left: -100%; }
	45% { margin-left: -100%; }

	50% { margin-left: -200%; }
	70% { margin-left: -200%; }

	75% { margin-left: -300%; }
	100% { margin-left:-300%; }

}
/*estilos de las categorias*/
#categorias{
	width: 100%;
	height: auto;
	overflow: hidden;
	border: 1px solid grey;
	margin-top: 25px;
	font-family: arial;
	color:grey;
}
.uno{
	width: 300px;
	height: auto;
	/*border: 1px solid grey;*/
	float: left;
	margin-top: 10px;
	text-align: center;
	margin-left: 60px;
}
.carro{
	text-decoration: none;
	background: black;
	color: white;
	font-size: 20px;
}
.carro:hover{
	background: red;
}
.vend{
	text-decoration: none;
	color:black;
	font-size: 20px;
}
.vend:hover{
	color: red;
	text-decoration: underline;
}
.preci{
	text-decoration: none;
	color:red;
}
/*estilos de los metodos*/
#metodos{
	width: 100%;
	height: auto;
	overflow: hidden;
	border: 1px solid grey;
	margin-top: 25px;	
}
.tres{
	width: 1275px;
	height: 153px;
	border: 1px solid grey;
	float: left;
	margin-top: 10px;
	text-align: center;
	margin-left: 11 0px;
}
.tres img{
	float: left;
	margin-left: 110px;
	margin-top: 5px;
}